@charset "UTF-8";
/*
Theme Name: WP TEST
Theme URI: http://nothing.net
Author: Gilson
Author URI: http://nothing.net
Description: Teste para vaga de emprego
Requires at least: 1.0
Requires PHP: 5 or plus
Version: 1.0
License: Nothing
License URI: http://nothing.net
Text Domain: wptest
*/
body{
    background:#F3F3F3;
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
}

/**/
/**/
/* TITLE */
h1{text-align: center;font-size: 48px;}
h2{text-align: center;font-size: 18px;padding-bottom:20px;color:#333;}
h3{text-align: left;font-size: 18px;}

#content{
    margin:0 auto;
    width: 600px;
}
#post{
    border-bottom:1px dotted #000;
    text-align: justify;
}

#leftCol{
    width:295px;
    float:left;
}
#rightCol{
    width:295px;
     float:right;
}